<div class="protfolio fill-width">
    <div class="protfolio text">
        <div class="small-header">
            PROTFOLIO
        </div>
        <div class="header">
            Some of the projects we have made
        </div>
        <div class="text">
            Lorem ipsum dolor sit amet consectetur. Nunc gravida viverra maecenas leo. Pretium adipiscing felis fames turpis scelerisque quam non in odio. Amet id suspendisse sed vel interdum rat elementum amet. Ipsum parturient lectus ultricies proin. Nulla duis lectus fames ornare vehicula.
        </div>
    </div>
    <div class="images">
        <div> <img src="assets/1.png"> <div class="text">Luxury home in Chicago, USA</div>  </div>
        <div> <img src="assets/2.png"> <div class="text">Luxury home in Dubai, UAE</div> </div>
        <div> <img src="assets/3.png"> <div class="text">Luxury home in Lugano, SUI</div> </div>
    </div>
</div>