<div class="header">
    <p class="medium-font">Real Estate Agency</p>
    <div class="header-menu">
        <p class="button-link">
        About us
    </p>
    <p class="button-link" (click)="scrollToFirst()">
        Services
    </p>
    <a href = "#1"></a><p class="button-link">
        Capabilities
    </p>
    <a href = "#2"></a><p class="button-link">
        Portfolio
    </p>
    <a href = "#3"></a><p class="button-link">
        Testemonials
    </p>
    <p class="button-primary">
        Let's talk
    </p>
    </div>
</div>
