<app-background class="abosolute">
</app-background>
<div class="darks" style="top: 0; left: 0;"></div>
<div class="glows" style="top: 55px; right: 0;"></div>
<app-header clas="fill-width"></app-header>
<div style="height: 1200px;">
<div #0 class="fill-width landing-image">
    <img class="lading-image-img" src="assets/slika1.png">
    <app-get-in-touch-marqee class="g-marqee"></app-get-in-touch-marqee>
</div>
</div>
<app-presentation-item #1 [imgSrc]="'assets/slika2.png'" [accentTitle]="'WHY SHOULD US'" [title]="'We designed with your lifestyle in mind'" [text]="'Lorem ipsum.'" [statisticItem]="this.statitic" ></app-presentation-item>
<app-presentation-item [imgSrc]="'assets/slika3.png'" [accentTitle]="'OUR PROCESS'" [title]="'Our approach to project work'" [text]="'Lorem ipsum.'" [statisticItem]="this.statitic" [isFlexDIrectionReverse]="true" ></app-presentation-item>
<div class="glows" style="right: 0;"></div>
<app-portfolio #2></app-portfolio>
<div class="darks" style="left: 0;"></div>
<app-testimonials #3></app-testimonials>
<app-get-in-touch-marqee></app-get-in-touch-marqee>